<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Produtos</title>

  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:if="${sucesso}" class="sucesso">
  <p th:text="${sucesso}"></p>
</div>

<div th:if="${erro}" class="erro">
  <p th:text="${erro}"></p>
</div>

<h1 th:text="${produto.id == null ? 'Cadastro de Produto' : 'Edição de Produto'}"></h1>

<!-- Adicionar Produto -->
<form th:action="@{${produto.id == null ? '/produtos' : '/produtos/atualizar'}}" method='post' th:object="${produto}">
  <input type="hidden" th:field="*{id}">
  <input type="text" th:field="*{nome}" placeholder="Nome do produto" required>
  <input type="date" th:field="*{validade}" required>
  <input type="number" th:field="*{quantidade}" placeholder="Quantidade" required>
  <button type="submit" th:text="${produto.id == null ? 'Salvar' : 'Atualizar'}"></button>
</form>

<hr>

<!-- Lista de Produtos Dinamica -->
<h1>Produtos</h1>
<table>
  <tr>
    <th>Nome</th>
    <th>Validade</th>
    <th>Quantidade</th>
    <th>Ações</th>
    <th>Condição</th>
  </tr>

  <tr th:each="p : ${produtos}">
    <td th:text="${p.nome}"></td>
    <td th:text="${p.validade}"></td>
    <td th:text="${p.quantidade}"></td>
    <td th:text="${p.statusValidade}"></td>
    <td>
        <a th:href="@{/produtos/editar/{id}(id=${p.id})}">
          Editar
        </a>

        <a th:href="@{/produtos/deletar/{id}(id=${p.id})}">
          Excluir
        </a>
    </td>
  </tr>
</table>
</body>
</html>